<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Predicción Médica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
  <div class="container">
    <h2>Predicción de Estado Médico</h2>
    <p>Por favor, ingresa tres valores numéricos (síntomas o indicadores clínicos).</p>
    
    <form action="/predecir" method="POST">
      <label for="valor1">Frecuencia cardíaca:</label>
      <input type="number" name="valor1" id="valor1" min="0" step="any" placeholder="Ej: 25.5" required/>

      <label for="valor2">Nivel de glucosa en sangre:</label>
      <input type="number" name="valor2" id="valor2" min="0" step="any" placeholder="Ej: 40.0" required/>

      <label for="valor3">Presión sistólica:</label>
      <input type="number" name="valor3" id="valor3" min="0" step="any" placeholder="Ej: 30" required/>

      <button type="submit">Predecir</button>
    </form>

    {% if resultado is not none %}
    <div class="result">
      <p>Resultado de la predicción: <strong>{{ resultado }}</strong></p>
    </div>
    {% endif %}


    <nav>
        <a href="/">Predecir</a> |
        <a href="/reportes">Ver Reportes</a> |
        <a href="{{ url_for('descargar_txt') }}"> Descargar Reporte</a>
      </nav>
  
      {% if estudios %}
        <div class="report">
          <h2> Reporte de estadísticas</h2>
  
          <h3>Total de predicciones por categoría:</h3>
          <ul>
            {% for cat, cnt in estudios['conteo'].items() %}
              <li>{{ cat }}: {{ cnt }}</li>
            {% endfor %}
          </ul>
  
          <h3>Últimas 5 predicciones:</h3>
          <ul>
            {% for pred in estudios['ultimas_cinco'] %}
              <li>{{ pred['fecha'] }} — {{ pred['resultado'] }}</li>
            {% endfor %}
          </ul>
  
          <h3>Fecha de la última predicción:</h3>
          <p>{{ estudios['ultima_fecha'] }}</p>
  
  
      {% endif %}
  </div>
</body>
</html>
